@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-color: lightgray;
    }
    .show {
        font-family: Verdana;
    }
</style>

<div class="jumbotron">
    <h1 class="show"><center>MiniMart Goods</center></h1>
    <h2 class="show"><center>Shop til' You Drop!</center></h2>
</div>